PORT=
NODE_ENV=
# JWT configurations
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
ACCESS_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_COOKIE_NAME=
ACCESS_TOKEN_COOKIE_MAX_AGE=
REFRESH_TOKEN_COOKIE_MAX_AGE=
# Database configurations
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=